/* general */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	padding: 25px;
	background: #f7f6d3;
}



/* clearfix */
.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}



/* layout */
.wrap {
	max-width: 1024px;
	margin: 0 auto;
}

section { 
	color: #fff;
	font: 20px/1.375em Rockwell, "Courier Bold", Courier, Georgia, serif;
	background: #9F3FA3; 
	border-radius: 9px;
	margin-bottom: 25px;
	min-height: 300px;

	float: left;
	width: 19.2%;
	
	padding: 20px;
	margin-right: 1%;
}

section:nth-child(1) { background: #3b9ae1; }
section:nth-child(2) { background: #f6be00; }
section:nth-child(3) { background: #e64134; }
section:nth-child(4) { background: #eb70b1; }
section:nth-child(5) { background: #0f1a5f; margin-right: 0; }