body,
html {
	margin: 0;
}

body {
	color: #333;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	background: #BEEB9F;
	padding: 0px 50px;
	-webkit-font-smoothing: antialiased;
}

p {
	font-size: 45px;
	line-height: 60px;
	text-indent: 400px;
}

strong {
	color: rgb(255, 97, 56);
	font-style: italic;
	text-shadow: 2px 2px 0px #000,
				 4px 4px 0px #fff,
				 6px 6px 0px #000;
}


/*
body {
	color: #333;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	background: #faddcd;
	background: #BEEB9F;
	padding: 0px 50px;
	-webkit-font-smoothing: antialiased;
}

p {
	font-size: 45px;
	line-height: 60px;
	text-indent: 400px;
}

strong {
	color: #FF6138;
	font-style: italic;
}
*/